<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ebookify - Your Own Electronic Library</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".destroyable").on("click", function(){
          $(this).fadeOut(200, function(){
            $(this).parent().slideUp(500, function(){
              $(this).remove();
            });
          });
        });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="ebookify">
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1>Welcome to ebookify!</h1>
            <p>ebookify is a free, open source web-based electronic library project. Get a copy of the project from <a href="http://github.com/alkass/ebookify">GitHub</a></p>
            <p>We currently maintain a database of
              {% if authors|length == 1 %}
                one author,
              {% else %}
                {{authors|length}} authors,
              {% endif %}
              {% if categories|length == 1 %}
                one category,
              {% else %}
                {{categories|length}} categories,
              {% endif %}
              and
              {% if books|length == 1 %}
                one book.
              {% else %}
                {{books|length}} books.
              {% endif %}
            </p>
            <button class="ui inverted purple button destroyable">Proceed to the library</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
