<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ebookify - Your Own Electronic Book Library</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".upload").attr("disabled", "disabled");
        $(".request").attr("disabled", "disabled");
      });
      $(document).ready(function(){
        $(".search").click(function(){
          $(this).parent().parent().slideUp(500, function(){
            $(this).load("/search_page", function(){
              $(this).slideDown();
            });
          });
        });
      });
      $(document).ready(function(){
        $(".upload").click(function(){
          $(this).parent().parent().slideUp(500, function(){
            $(this).load("/upload_page", function(){
              $(this).slideDown();
            });
          });
        });
      });
      $(document).ready(function(){
        $(".request").click(function(){
          $(this).parent().parent().slideUp(500, function(){
            $(this).load("/request_page", function(){
              $(this).slideDown();
            });
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>What would you like to do?</h1>
          <hr>
        </div>
        <hr>
        <div class="col-md-12">
          <button class="fluid ui red button search">Search the Library</button>
          <br>
        </div>
        <div class="col-md-12">
          <button class="fluid ui red button upload">Upload a Book</button>
          <br>
        </div>
        <div class="col-md-12">
          <button class="fluid ui red button request">Request a Book</button>
          <br>
        </div>
      </div>
    </div>
  </body>
</html>
