<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ebookify - Your Own Electronic Library</title>
    {% load staticfiles %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Upload a Book</h2>
          <h3>This feature is currently disabled. Sorry for the inconvenience.</h3>
          <form action="/upload_page/" method="POST">
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
