<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'media/images/icon.png' %}" type="favicon/ico" />
    {% if error %}
      <title>ebookify - Your Own Electronic Book Library</title>
    {% else %}
      <title>ebookify - {{book.title}}</title>
    {% endif %}
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <style rel="stylesheer">
    .hidden
    {
      visibility: hidden
    }
    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".button.download").click(function(){
          var new_text = "Downloading..."
          if ($(this).text() != new_text)
          {
            $(this).fadeToggle(500, function(){
              $(this).fadeToggle(500, function(){
                $(this).text(new_text);
              });
            });
          }
        });
      });
    </script>
  </head>
  <body class="main body">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="ebookify">
          </a>
          <p class="navbar-text">Your Own Electronic Book Library</p>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main jumbotron">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  {% if error %}
                    <h3>{{error}}</h3>
                  {% else %}
                      <h2>{{book.title}}<small><br>{{book.subtitle}}</small></h2>
                      <hr>

                      {% if book.description|length > 0 %}
                        <a><h3>Description</h3></a>
                        <i>Book Overview</i>
                        <h5>{{book.description}}</h5>
                        <br>
                      {% endif %}

                      {% for author in book.authors.all %}
                        <a href="/query/?author={{author}}"><h3>{{author}}</h3></a>
                        <i>Author</i>
                        <h5>{{author.brief}}</h5>
                        <h4></h4>
                      {% endfor %}

                      {% for contributor in book.contributors.all %}
                        <a href="/query/?contributor={{contributor}}"><h3>{{contributor}}</h3></a>
                        <i>Contributor</i>
                        <h4></h4>
                      {% endfor %}

                      {% if book.num_pages > 0 %}
                        <a><h3>{{book.num_pages}}</h3></a>
                        <i>Number of Pages</i>
                        <h4></h4>
                      {% endif %}

                      {% if book.language %}
                      <a href="/query/?language={{book.language}}"><h3>{{book.language}}</h3></a>
                      <i>Language</i>
                      <h4></h4>
                      {% endif %}

                      {% for category in book.categories.all %}
                        <a href="/query/?category={{category}}"><h3>{{category}}</h3></a>
                        <i>Category</i>
                        <h5>{{category.brief}}</h5>
                        <h4></h4>
                      {% endfor %}

                      {% if book.recommended %}
                        <a><h3>This book is recommended</h3></a>
                        <i>Recommended books are prioritized in all search queries</i>
                        <br>
                        <br>
                      {% endif %}

                      <div class="row">
                        <div class="col-md-4">
                          {% if book.pdf_file|length > 0 %}
                            <a class="fluid ui red button download" href="/download/?identification={{book.identification}}&extention=pdf">Download PDF</a>
                          {% else %}
                            <a class="fluid ui red button download disabled">PDF Unavailable</a>
                          {% endif %}
                          <br>
                        </div>
                        <div class="col-md-4">
                          {% if book.epub_file|length > 0 %}
                            <a class="fluid ui red button download" href="/download/?identification={{book.identification}}&extention=epub">Download EPUB</a>
                          {% else %}
                            <a class="fluid ui red button download disabled">EPUB Unavailable</a>
                          {% endif %}
                          <br>
                        </div>
                        <div class="col-md-4">
                          {% if book.mobi_file|length > 0 %}
                            <a class="fluid ui red button download" href="/download/?identification={{book.identification}}&extention=mobi">Download MOBI</a>
                          {% else %}
                            <a class="fluid ui red button download disabled">MOBI Unavailable</a>
                          {% endif %}
                        </div>

                      </div>

                      <h5>
                        This book has been viewed
                        {% if book.num_views == 1 %}
                          one time
                        {% else %}
                          {{book.num_views}} times
                        {% endif %}
                        and downloaded
                        {% if book.num_downloads == 1 %}
                          one time
                        {% else %}
                          {{book.num_downloads}} times.
                        {% endif %}
                      </h5>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if not error %}
    {% for feedback in feedbacks %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h3>{{feedback.feedback_date}}</h3>
                  <br>
                  {% for line in feedback.feedback %}
                    <h4>{{line}}</h4>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="" action="/post_feedback/" method="get">
            <div class="ui form">
              <div class="field">
                <label>Write a Review</label>
                <textarea id="review" placeholder="Your review must be 10 characters minimum" disabled></textarea>
              </div>
            </div>
            <br>
            <input type="text" class="hidden" name="identification" value="{{book.identification}}">
            <button class="fluid ui red button post"disabled>Submit My Review</button>
            <br>
            <br>
            <br>
            <br>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
