<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% if error %}
      <title>ebookify - Your Own Electronic Library</title>
    {% else %}
      <title>ebookify - {{book.title}}</title>
    {% endif %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".download").click(function(){
          $(this).text("Downloading...");
        });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img alt="ebookify">
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
          {% if error %}
            <h3>{{error}}</h3>
          {% else %}
              <h2>{{book.title}}</h2>
              <hr>
              {% for author in book.authors %}
                <a href="#"><h3>{{author}}</h3></a><i>Author</i>
                {% for line in author.brief %}
                  <h5>{{line}}</h5>
                {% endfor %}
                <br>
              {% endfor %}

              <a href="#"><h3>{{book.language}}</h3></a><i>Language</i>
              <h4></h4>

              {% if book.description|length > 0 %}
                <a href="#"><h3>Description</h3></a><i>Book Overview</i>
                <h5>{{book.description}}</h5>
                <br>
              {% endif %}

              {% for category in book.categories %}
                <a href="#"><h3>{{category}}</h3></a><i>Category</i>
                {% for line in category.brief %}
                  <h5>{{line}}</h5>
                {% endfor %}
                <br>
              {% endfor %}

              <button class="ui inverted purple button download">Download PDF</button>
              <button class="ui inverted purple button download">Download EPUB</button>

              <h5>
                This book has been viewed
                {% if book.num_views == 1 %}
                  one time
                {% else %}
                  {{book.num_views}} times
                {% endif %}
                and downloaded
                {% if book.num_downloads == 1 %}
                  one time
                {% else %}
                  {{book.num_downloads}} times.
                {% endif %}
              </h5>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% for feedback in feedbacks %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            {% for line in feedback.feedback %}
              <h4>{{line}}</h4>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
